/*Global
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
*/
/*Splash*/

body {
    text-align: center;
    background: #fff;
    font-size: 14px;
    line-height: 1.7;
    font-family: 'Roboto Slab', serif;
    }
 
.conteiner {
    max-width: 1140px;
    margin: 50px auto;
    padding: 0 20px;
    height: 100%;
    }

.splash {
    height: 100vh;
    position: relative;
    background-image: url("https://i.postimg.cc/65R7pvYh/Background-Image.png");
    background-position: center center;
    background-size: center;
    background-attachment: fixed; }
  
.splash-liner {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    
    color: #fff;
 }

.splash-liner h2 {
    font-style: italic;
    font-weight: bold;
}

.splash-liner h1 {
    font-size: 68px;
    font-weight: bold;
}

.logo {
    padding-top: 32px;
    padding-left: 62px;
    text-align: center;
}

.menu {
    padding-top: 32px;
}
.navigation li {
    display: inline-block;
    margin: 0;
    position: relative; }

.navigation a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff; }

    .button {
    display: inline-block;
    min-width: 220px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    background-color: #f3d10f;
    border-color: #f3d10f;
    color: #fff; 
}
/*Services*/

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    
.section-title {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    margin: 72px 0 0 0;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    }
    
.section-subtitle {
    font-size: 16px;
    margin: 8px 0 12px 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-style: italic;
    color: #585858;
    }

.text-box {
    flex: 0 0 33.333%;
    text-align: center; 
    position: relative;
    margin: 36px 0;
    padding: 0 24px;
    }

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.card-content {
    font-family: 'Roboto Slab', serif;
    font-size: 14px; 
    color: #585858;  
}

/*portfolio*/

.portfolio {
    background-color: rgba(0,0,0,.125);
    padding: 48px 0;
}

.card {
    margin: 24px 0;
    border: #fff;
}
.card-body {
    text-align: center;    
}

.card-body .card-content {
    font-style: italic;  
}

/*footer*/

footer a {
text-decoration: none;
font-size: 18px;
color: #ffffff;
padding: 5px;
text-align: center;
}

.btn-one {
width: 40px;
height: 40px;
border-radius: 50%;
text-decoration: none;
cursor: pointer;
border: 2px solid #464545;
background-color: #464545;
background-position: 100% 0;
background-size: 300%;
display: inline-block;
margin: 5px 0;
}

.copyright {
    text-align: center;
    padding: 12px;
}